TouchGFX/build/EDT/EVK070016/TouchGFX/target/generated/TouchGFXConfiguration.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/texts/src/TypedTextDatabase.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/texts/src/Texts.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/texts/src/LanguageGb.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/gui_generated/src/start_screen/StartViewBase.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/gui_generated/src/mess_screen/MessViewBase.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/gui_generated/src/common/FrontendApplicationBase.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/VectorFontRendererBuffers.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/UnmappedDataFont.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Table_calibrib_40_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Table_calibrib_15_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Table_calibrib_100_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Table_calibri_40_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Table_calibri_25_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Table_calibri_20_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Table_calibri_15_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Table_calibri_10_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Kerning_calibrib_40_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Kerning_calibrib_15_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Kerning_calibrib_100_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Kerning_calibri_40_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Kerning_calibri_25_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Kerning_calibri_20_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Kerning_calibri_15_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Kerning_calibri_10_4bpp.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/GeneratedFont.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/FontCache.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Font_calibrib_40_4bpp_0.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Font_calibrib_15_4bpp_0.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Font_calibrib_100_4bpp_0.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Font_calibri_40_4bpp_0.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Font_calibri_25_4bpp_0.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Font_calibri_20_4bpp_0.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Font_calibri_15_4bpp_0.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/Font_calibri_10_4bpp_0.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/CachedFont.o
TouchGFX/build/EDT/EVK070016/TouchGFX/generated/fonts/src/ApplicationFontProvider.o
TouchGFX/build/bin/target.elf
TouchGFX/build/bin/intflash.elf
TouchGFX/build/bin/application.map
STM32CubeIDE/.settings/language.settings.xml
